<<<<<<< HEAD
/* 회원가입 폼 */
main form{ max-width: 600px; margin: 0 auto; }
main form ul li:not(.tab_radio){ padding: 10px; }
main form ul li.tab_radio{ padding: 20px 0; }
main form .user_info li label{ display: block; }
main form .user_info li label.req::after{ content: " * "; color: red; }
main form .user_info li .need_confirm{ position: relative; top: 0; left: 0; }
main form .user_info li .need_confirm i{ position: absolute; top: 50%; right: 15px; transform: translateY(-60%); color: #188d70; }
main form .user_info li .need_confirm i.time{ color: var(--subGray_60); }
main form .user_info li input:not([type="button"]):not([type="checkbox"]):not([type="radio"]){ width: 100%; margin-bottom: 5px; }
main form .user_info li input[type="button"]{ width: 130px; margin-bottom: 5px; font-size: 16px; }
main form .user_info li input[readonly]{ background-color: var(--subGray_10); }
main form .user_info li input#m_id,
main form .user_info li input#m_own_num,
main form .user_info li input#m_cellphone{ width: calc(100% - 135px); }
main form .user_info li #m_email1,
main form .user_info li #m_email2,
main form .user_info li #m_email3{ width: 31.8%; vertical-align: inherit; }
main form .user_info li .help{ color: var(--subGray_60); font-size: 0.9em; }
main form .user_info li .help::before{ content: "\f059"; padding-right: 5px; font-family: var(--fa-style-family,"Font Awesome 6 Free"); font-weight: var(--fa-style,900); }
main form .user_info li .help.warn{ color: red; }
main form .user_info li .help.warn::before{ content: "\f071"; }

/* 이용약관 */
main form .agreements li label input[type="checkbox"]:not(#agreeAll){ display: none; }
main form .agreements li label .fa-check{ display: inline; padding: 0 5px; color: var(--subColor); }
main form .agreements li label input:checked + .fa-check{ color: var(--mainColor); }
main form .agreements li label .btn:hover{ transform: none !important; }
main form .agreements li .fa-chevron-down{ cursor: pointer; }
main form .agreements li div{ height: 0; margin: 0 25px; padding: 0 10px; overflow: auto; background-color: var(--subGray_5); transition: height 0.5s, margin 0.5s; }
/* 약관을 펼쳤을 때 */
main form .agreements li.on .fa-chevron-down{ transform: rotate(180deg); }
main form .agreements li.on div{ height: 150px; margin: 10px 25px; }

/* 가입하기 버튼 */
main form .submit{ width: 100%; margin: 20px 0; }
=======
<<<<<<< HEAD
@charset "UTF-8";

/*01_25 작성*/
/* 작성 폼 전체 */

.input-form {
   margin-left: auto;
   margin-right: auto;
   text-align:center;
}

.input-form tbody th {
   margin-top: 10px;
   padding: 0.375rem 0.75rem;
   font-weight: 400;
   line-height: 1.5;
   font-size: 1rem;
}


/*타이틀*/
.header{
   font-size:14.5px;
   text-align:left;
   vertical-align:middle;
   padding: 5px 0px 9px 0px;   
}

label {
   font-weight: bold;
}

/*입력란*/
.contents{
   text-align: left;
   font-size:13px;
   vertical-align:middle;
   padding: 5px 0px 9px 0px;   
}

.contents input{
   width: 373px;
   height: 27px;
   border: 1px solid #e6e6e6;
   padding: 2px 0 2px 12px;
}

.contents input:focus {
   outline: none;
}

/* 중복 체크 */
.double_check_result {
   text-align: left;
   font-size: 12px;
   margin-bottom: 9px;
}

/* 비번 체크 */
.pwCheck {
   text-align: left;
   font-size: 12px;
   margin-bottom: 9px;
}

/* 주민등록번호 */
.c {
   font-size: 12px;
   color: #c2c2c2;
}

/* 질문 */
.contents select {
   width: 256px;
   height: 33px;
   border: 1px solid #e6e6e6;
   padding: 2px 0 2px 2px;
}

.contents select:focus {
   outline: none;
}

/* 중복 확인 버튼 */
.dbtn{
   width:84px;
   background-color: #fd8731;
   color:#fff;
   border:0px;
   height:34px;
   font-size: 15px;
   font-weight: bold;
   cursor: pointer;
}

/* 하단 버튼 */
.btn{
   width:84px;
   background-color: #fd8731;
   color:#fff;
   border:0px;
   height:34px;
   font-size: 15px;
   font-weight: bold;
   cursor: pointer;
}


.Jfield {
   width: 550px;
   /* padding: 30px; */
   border: 1px solid #ddd;
   padding: 0;
   padding-top: 30px;
   padding-bottom: 20px;
   margin: 0 auto;
}
=======
@charset "UTF-8";

/*01_25 작성*/
/* 작성 폼 전체 */

.input-form {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.input-form tbody th {
	margin-top: 10px;
	padding: 0.375rem 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	font-size: 1rem;
}


/*타이틀*/
.header{
	font-size:14.5px;
	text-align:left;
	vertical-align:middle;
	padding: 5px 0px 9px 0px;	
}

label {
	font-weight: bold;
}

/*입력란*/
.contents{
	text-align: left;
	font-size:13px;
	vertical-align:middle;
	padding: 5px 0px 9px 0px;	
}

.contents input{
	width: 373px;
	height: 27px;
	border: 1px solid #e6e6e6;
	padding: 2px 0 2px 12px;
}

.contents input:focus {
	outline: none;
}

/* 중복 체크 */
.double_check_result {
	text-align: left;
	font-size: 12px;
	margin-bottom: 9px;
}

/* 비번 체크 */
.pwCheck {
	text-align: left;
	font-size: 12px;
	margin-bottom: 9px;
}

/* 주민등록번호 */
.c {
	font-size: 12px;
	color: #c2c2c2;
}

/* 질문 */
.contents select {
	width: 256px;
	height: 33px;
	border: 1px solid #e6e6e6;
	padding: 2px 0 2px 2px;
}

.contents select:focus {
	outline: none;
}

/* 중복 확인 버튼 */
.dbtn{
	width:84px;
	background-color: #fd8731;
	color:#fff;
	border:0px;
	height:34px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}

/* 하단 버튼 */
.btn{
	width:84px;
	background-color: #fd8731;
	color:#fff;
	border:0px;
	height:34px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}


.Jfield {
	width: 550px;
	/* padding: 30px; */
	border: 1px solid #ddd;
	padding: 0;
	padding-top: 30px;
	padding-bottom: 20px;
	margin: 0 auto;
}

>>>>>>> branch 'develop' of https://github.com/gksmf4721/sosu.git
>>>>>>> branch 'develop' of https://github.com/GitHubHSK/sosu.git
